* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}

.hidden, .hide {
    display: none;
}

.container {
    margin: 2rem auto;
    padding: 1rem 1.5rem;
    width: 500px;
    border: 2px solid tan;
    border-radius: 10px;
}

#show1, #show2, #show3, .show4, .hide {
    display: none;
}
h2 {
    padding-bottom: 1rem;
    text-align: right;
}
h3 {
    margin-top: 0.7rem;
    margin-bottom: 0.4rem;
}

#show1 {
    border-bottom:  6px solid #F36E7F;
}

#show2 {
    border-bottom:  6px solid #F5C066;
}

#show3 {
    border-bottom:  6px solid #A8E9A5;
}

#show4 {
    border-bottom:  6px solid tan;
}
ul {
    list-style-image: url("images/square.png");
    margin-left: 2.5rem;
}

.item_description {
    vertical-align: middle;
    margin-top: -16px;
    display: inline-block;
}